<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <!--CONTENIDO DEL MENU-->
    
    <ion-item routerLink="/home">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdACt6JONjOzXem4mf6WerKEwiKAQhM1MVdw&usqp=CAU" />
      </ion-avatar>
      <ion-label>Home</ion-label>
    </ion-item>
   
    <ion-item routerLink="/profile">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label >Profile</ion-label>
    </ion-item>

    <ion-item routerLink="/categories">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXIJroOtdP6tANQEegee-Ifn9u0jBTTYCnlxEpUW-lbKgADC0DFAE4RZ3aqFKaAlmDxbc&usqp=CAU" />
      </ion-avatar>
      <ion-label>Categories</ion-label>
    </ion-item>

    <ion-item routerLink="/note">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://cdn-icons-png.flaticon.com/512/234/234678.png" />
      </ion-avatar>
      <ion-label>Create a new note</ion-label>
    </ion-item>

    <br>
    <div>
      <ion-button color="danger" (click)="logOut()">LogOut</ion-button>
    </div>
    


  </ion-content>  <!--ACA TERMINA EL CONTENIDO DEL MENU-->
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Notes by categorie</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <!--ACA EMPIEZA EL CONTENIDO DE LA PAGINA-->

  <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let noteCategorie of notesCategorie" size="6" size-md="2" size="6" size-md="2" >
        <ion-card [routerLink]="['/', 'note', 'edit', noteCategorie._id]">
          <ion-card-header>
            <h5>{{noteCategorie.title}}</h5>
          </ion-card-header>
        
          <ion-card-content>
            <h6>
              {{noteCategorie.createDate}}
            </h6>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


      <!--BOTON AGREGAR UNA CATEGORIA-->
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button routerLink="/note">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>
