<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <!--CONTENIDO DEL MENU-->
    
    <ion-item routerLink="/home">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdACt6JONjOzXem4mf6WerKEwiKAQhM1MVdw&usqp=CAU" />
      </ion-avatar>
      <ion-label>Home</ion-label>
    </ion-item>
   
    <ion-item routerLink="/profile">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label >Profile</ion-label>
    </ion-item>

    <ion-item routerLink="/note">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://cdn-icons-png.flaticon.com/512/234/234678.png" />
      </ion-avatar>
      <ion-label>Create a new note</ion-label>
    </ion-item>

    <br>
    <div>
      <ion-button color="danger" (click)="logOut()">LogOut</ion-button>
    </div>
    


  </ion-content>  <!--ACA TERMINA EL CONTENIDO DEL MENU-->
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Categories</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <!--ACA EMPIEZA EL CONTENIDO DE LA PAGINA-->

  <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let categorie of categories" size="6" size-md="2" >
        <ion-card [routerLink]="['/', 'notes-categorie', 'notesByCategorie', categorie.category]">
          <!-- [routerLink]="['/', 'note', 'edit', note._id]" -->
          <ion-card-header>
            <ion-card-title class="ion-text-center">{{categorie.category}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            created by: {{categorie.owner}}
          </ion-card-content>
          <ion-button color="danger" size="default" (click)="deleteCategorie(categorie._id)" expand="full">
            DELETE
          </ion-button>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


      <!--BOTON AGREGAR UNA CATEGORIA-->
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button routerLink="/create-categorie">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>
