<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>

      <ion-title>Categories</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <!--ACA EMPIEZA EL CONTENIDO DE LA PAGINA-->

  <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let categorie of categories" size="6" size-md="2" >
        <ion-card [routerLink]="['/', 'notes-categorie', 'notesByCategorie', categorie.category]">
          <ion-card-header>
            <h5>{{categorie.category}}</h5>
          </ion-card-header>
        
          <ion-card-content>
            <h6>
              created by: {{categorie.owner}}
            </h6>
          </ion-card-content>
          <ion-button color="danger" size="default" (click)="deleteCategorie(categorie._id)" expand="full">
            DELETE
          </ion-button>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


      <!--BOTON AGREGAR UNA CATEGORIA-->
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button routerLink="/create-categorie">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>
