<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>NOTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" offset-md="4">

        <ion-card>
          <ion-card-header>
            <br>
            <ion-card-title>{{editing ? 'Update this' : 'Create a new'}} note </ion-card-title>
          </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Tittle</ion-label>
            <ion-input [(ngModel)]="thisNote.title" type="text"></ion-input>
          </ion-item>
          
          
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea placeholder="Type something here" [autoGrow]="true" [(ngModel)]="thisNote.description"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Categorie</ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="thisNote.category">
              <ion-select-option *ngFor="let categorie of categories" value="{{categorie.category}}" >
                {{categorie.category}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          

          <br>
         <ion-button color="success" size="default" (click)="editing ? updateNote() : sendDataNote()">
            {{editing ? 'UPDATE' : 'SAVE'}}
          </ion-button>
          
          <ng-container *ngIf="editing">
            <ion-button color="danger" size="default" (click)="deleteNote()">
              DELETE
            </ion-button>
          </ng-container>



        </ion-card-content>

      </ion-card>

      
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
